@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,500&display=swap');

@font-face {
    font-family: "Nimbus Roman no9 Regular";
    src: url("./fonts/nimbus/nimbusromno9l-reg-webfont.woff2") format("woff2");
  }

  @font-face {
    font-family: "Nimbus Roman no9 Bold";
    src: url("./fonts/nimbus/nimbusromno9l-med-webfont.woff2") format("woff2");
  }

@font-face {
    font-family: "Manrope Regular";
    src: url("./fonts/manrope/Manrope-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Manrope Medium";
    src: url("./fonts/manrope/Manrope-Medium.woff2") format("woff2");
    font-weight: 700;
}


@mixin nimbusLight {
    font-family: 'Nimbus Roman no9 Regular';
    font-weight: 300;
}

@mixin nimbusBold {
    font-family: 'Nimbus Roman no9 Bold';
    font-weight: 300;
}

@mixin manropeLight {
    font-family: 'Manrope Regular';
    text-transform: uppercase;
    font-weight: 500;
}

@mixin manropeRegular {
    font-family: 'Manrope Medium';
    text-transform: uppercase;
}

@mixin robotoRegular {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
}

@mixin robotoMedium {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
}

$primary-color: #FFFDF5;
$secondary-color: #88B04B;
$focus-color: #C4D600;
$dark-color: #131213;
$background-color: #FFFDF5;
$tertiary-color: #BCBED5;


* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background-color: $background-color;
}

::selection {
    background-color: $tertiary-color;
  }

img {
    max-width: 100%;
}

h1 {
    @include nimbusLight;
    font-size: 4.8rem;
    letter-spacing: 1px;
}

h2 {
    @include manropeLight;
    font-size: 2.6rem;
    color: white;
    opacity: 0.5;
    letter-spacing: 3px;
}

h3 {
    @include nimbusBold;
    font-size: 2.8rem;
}

h4 {
    @include robotoMedium;
    text-transform: uppercase;
    font-weight: 500;
    color: $dark-color;
}

h1, h2, h3, h4, ul, figure, p, span {
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}

p, a, figcaption, li, input, ::after, span {
    @include robotoRegular;
    color: $dark-color;
    text-decoration: none;
    line-height: 1.6;
}

ul {
    list-style: none;
}

section {
    height: auto;
    padding: 5% 10%;
    column-gap: 70px;
    row-gap: 40px;
}

@media (min-width) {
    section {
        height: 100vh;
    }
}


/********************/

.flexContainer {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.centerItems {
    justify-content: center;
    align-items: center;
}

.flexGap {
    gap: 50px;
}

.section-dark {
    background-color: $dark-color;
    h3, p {
        color: #fff;
    }
}

.title {
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    h2 {
        font-size: 7.5rem;
        color: $tertiary-color;
        letter-spacing: 0;
        opacity: 0.2;
        position: absolute;
        top: -60px;
    }
}


/***************** NAV ******************/

nav {
    position: relative;
    z-index: 1;
    height: 12vh;
    flex-wrap: wrap;
    justify-content: space-around;
    ul {
        text-transform: uppercase;
        justify-content: space-evenly;
        }
    a {
        @include robotoMedium;
        letter-spacing: 1px;
    }
}


#main-nav-desktop {
    .main-list-nav-desktop {
        display: none;
    }
    a {
        background:linear-gradient(90deg,
        #fff 0%, #fff 45%, 
        $dark-color 45%, $dark-color 55%,
        #fff 55%, #fff 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        background-size: 300% 100%;
        background-position: 100% 0%;
        color: transparent;
        transition: all 800ms linear;
    }
}

#main-nav-desktop a:hover {
    background-position: 0% 0%;
    font-size: 1.7rem;
  }


.textLogo {
    font-family: 'Nimbus Roman no9';
    font-weight: 500;
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px $dark-color;
}

#hamburger-menu {
    flex: 1 1 100%;
}
#hamburger-input {
    width: 40px;
}

#hamburger-nav {
    display: none;
    padding: 20px;
  }
  
#hamburger-input:checked + #hamburger-menu #hamburger-nav {
    display: block;
}
  

@media (min-width: 780px) {
    nav  {
      flex-wrap: nowrap;
      align-items: center;
    }
    #main-nav-desktop  .main-list-nav-desktop {
      display: flex;
      flex: 1;
      text-transform: uppercase;
    }
    #hamburger-input, #hamburger-menu {
      display: none;
    }
  }



/************* NAVIGATION ESHOP *************/

#eshop__nav {
    background-color: $background-color;
    .eshop__menu {
        gap: 20px;
    }
    .textLogo {
        color: $dark-color;
        text-shadow: none;
    }
}

#eshop__nav--secondary {
    background-color: $background-color;
    height: 8vh;
    border-block: 1px solid $dark-color;
    box-shadow: 0 5px 6px rgba(19,18,19,0.2);
    
    .eshop__menu {
        flex: 1;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }
}

.eshop__list {
    position: relative;
    padding: 15px 0;
    & > a {
        background:linear-gradient(90deg,
        black 0%, black 45%, 
        $secondary-color 45%, $secondary-color 55%,
        black 55%, black 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        background-size: 300% 100%;
        background-position: 100% 0%;
        color: transparent;
        transition: all 800ms linear;
    }
    & > a:hover {
        background-position: 0% 0%;
      }
    &:hover  > .eshop__submenu {
        display: flex;
    }
}

.eshop__submenu {
    position: absolute;
    top: 100%;
    background-color: $background-color;
    border: 1px solid $dark-color;
    box-shadow: inset 0 5px 6px rgba(19,18,19,0.2);
    width: max-content;
    padding: 15px 25px;
    gap: 15px;
    display: none;
    a {
        font-size: 1.4rem;
    }
    a:hover {
        color: $secondary-color;
      }
}



.svg-icon {
    height: 25px;
    fill: $dark-color;
    stroke-width: 1px;
    stroke: $dark-color;
}


/*************** HEADER ***************/
#header__main {
    position: relative;
    height: 100vh;
    background: url('./img/background_poster.jpg');
    background-size: cover;
    transition: all 600ms ease-in;
    &::after {
        content: "";
        background-color: rgba(19,18,19,0.4);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 400ms ease-in-out;
    }
    &:hover::after {
        background-color: rgba(19,18,19,0.1);
    }
}

.videoBackground {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.headerTitle {
    position: relative;
    z-index: 1;
    margin: auto;
    gap: 20px;
    h1, h2 {
        display: inline-block;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px $dark-color;
    }
}

.btn {
    text-align: center;
    transition: all 600ms linear;
    border: none;
    max-width: max-content;
    a {
        display: block;
        padding: 15px 25px;
        text-transform: uppercase;
        @include robotoRegular;
        letter-spacing: 1px;
        font-size: 1.6rem;
    }
}

.btn__scale {
    &:hover {
        transform: scale(1.05);
    }
}

.btn__color--black {
    background-color: $dark-color;
    box-shadow: 2px 2px 6px rgba(19,18,19,0.2);
    a {
        color: #fff;
    }
    &:hover {
        background-color: $secondary-color;
    }
}

.btn__color--green {
    background-color: $secondary-color;
    margin: 0;
    a {
        color: #fff;
    }
    &:hover {
        background-color: #fff;
    }
    &:hover a {
        color: $dark-color;
    }
}


/*************** HEADER ESHOP ***************/




/************* SECTION ATELIERS *************/
#section-degustation{
    height: 100vh;
    align-items: center;
}

.flex-figure { 
    flex-direction: column;
    gap: 50px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#figure-degustation {
    figure {
        height: 45vh;
        position: relative;
        overflow: hidden;}
    img {
        transition: all 500ms ease-in-out;
    }
    figcaption {
        position: absolute;
        display: flex;
        background-color: rgba(19,18,19,0.4);
        color: #fff;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 500ms ease-in-out;
    }
}

#figure-degustation figure:hover figcaption {
    opacity: 1;
}

#figure-degustation figure:hover img {
    transform: scale(1.2);
}

@media (min-width: 780px) {
    .flex-figure {
        flex-direction: row;
        figure {
            flex: 1;
        }
    }
}

/*************** SECTION BOX ***************/

#section-box {
    flex-direction: column-reverse;
    height: 100vh;
    align-items: center;
}

#section-box .title {
    width: 90vw;
    align-items: center;
    h2 {
        left: 10%;
    }
}

.gridContainer {
    --size: 230px;
    --gap: 20px;
    --scaleX: 1.5;
    --scaleY: 1.2;
  
    display: grid;
    width: 50%;
    gap: var(--gap);
    aspect-ratio: 1;
    grid-template-rows: repeat(6, 1fr);
    img {
        width: 0;
        height: 0;
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        transition: all 600ms linear;
    }
}

.gridContainer img:hover {
  width: calc(var(--size)*var(--scaleX));
}

.bloc01 {
    grid-area: 1 / 1 / 3 / 4;
}

.bloc02 {
    grid-area: 3 / 1 / 7 / 4;
}

.bloc03 {
    grid-area: 1/ 4 / 7 / 6;
}



@media (min-width: 780px) {
    #section-box {
        flex-direction: row-reverse;
    }
    #section-box .title {
        width: 50%;
        align-items: flex-start;
    }
}



/*************** SECTION ACTU ***************/

#sectionActu {
    min-height: 100vh;
    height: auto;
}

#slide {
    position: relative;
    align-items: center;
}

.leftArrow, .rightArrow {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    border: none;
    svg {
        height: 50px;
        fill: $dark-color;
        transition: all 900ms ease;
    }
    &:hover svg {
        fill: $focus-color;
    }
}

.leftArrow {
    left: -5%;
}

.rightArrow {
    right: -5%;
}

#slideBlock {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}
#slideFlow {
    justify-content: center;
    width: auto;
}

#slideFlow figure {
    position: relative;
    margin: 0;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 600ms ease;
    }
    &:hover img{
        transform: scale(1.2);
    }
}


@media (min-width: 780px) {
    #slideFlow {
        --gap: 80px;

        gap: var(--gap);
    }
    #slideFlow figure {
        min-width: calc(50% - var(--gap));
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 600ms ease;
        }
        &:hover img{
            transform: scale(1.2);
        }
    }
}


.figOverlay {
    justify-content: end;
    padding: 10%;
    background-color: rgba(19,18,19,0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 600ms ease;
    p, figcaption {
        color: #fff;
        transition: all 800ms ease;
    }
    p {
        display: flex;
    }
    figcaption {
        @include nimbusLight;
        font-size: 2.4rem;
    }
    &:hover{
        background-color: rgba(19,18,19,0.5);
    }
    &:hover figcaption{
        transform: translate(30px, -10px) scale(1.2);
    }
    &:hover p{
        transform: translateX(8%);
    }
}

#svgFlecheArticle {
    height: 24px;
    width: 24px;
    fill: #fff;
    transition: all 500ms ease-in-out;
    .svgCercle {
        fill: transparent;
        transition: all 500ms ease-in-out;
    }
    .svgFleche {
        stroke: #fff;
    }
}

.figOverlay:hover #svgFlecheArticle {
    transform: translateX(15px);
    .svgCercle {
        fill: #fff;
    }
    .svgFleche {
        fill: $dark-color;
        stroke: $dark-color;
    }
}


/*************** NEWSLETTER ***************/

form {
    border: 2px solid $dark-color;
    width: 400px;
    display: flex;
}

#input__newsletter, .submit__newsletter {
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
}

input[type="email"] {
    width: 85%;
    padding: 0 25px;
}

.submit__newsletter {
    width: 15%;
    svg {
        height: 30px;
        width: 30px;
        fill: $dark-color;
        transition: all 300ms ease-in-out;
    }
    &:hover svg{
         fill: $focus-color;
    }
}


/************* FOOTER *************/

footer {
    background-color: $dark-color;
    color: #fff;
    padding: 5% 10%;
    row-gap: 40px;
    ul li, a {
        color: #fff;
    }
}

#footerInfos {
    flex-direction: column;
    div {
        flex: 1;
        text-align: end;
    }
    div:first-child{
        flex: 1 1 20%;
        text-align: start;
    }
    ul {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}



#svgFacebook, #svgInstagram, #svgLinkedin {
    height: 50px;
    width: 50px;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    .svgLinkedinLetters {
        fill: #fff;
        stroke: transparent;
    }
    transition: all 300ms ease-in-out;
}
#svgFacebook:hover, #svgInstagram:hover, #svgLinkedin:hover {
    height: 50px;
    width: 50px;
    fill: #fff;
    stroke: transparent;
    .svgLinkedinLetters {
        fill: $dark-color;
    }
}

footer > div:nth-last-child(1)  ul {
    width: 100%;
    flex-direction: column-reverse;
    font-size: 1.2rem;
    li > ul {
        flex-direction: row;
    }
}


footer li ul {
    gap: 5px;
}

.svgCard {
    height: 30px;
    fill: #fff;
}


@media (min-width: 780px) {
    #footerInfos {
        flex-direction: row;
        ul {
            flex-direction: column;
        }
    }
    footer > div:nth-last-child(1)  ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}



/*************** ESHOP SECTION SLIDE ***************/

#slide-section {
    background: url('./img/header_eshop1.jpg') no-repeat 0 65%;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - (12vh + 8vh));
    h3 {
        font-size: 4.2rem;
    }
    h3, p {
        color: #fff;
        text-shadow: 1px 1px $dark-color;
    }
}



/************* ESHOP SECTION SELECTION *************/

#section-selection {
    height: 100vh;
    ul {
        text-align: center;
        gap: 5px;
    }
}

#selection__container {
    width: 100%;
    justify-content: space-evenly;
}

.selection__img {
    height: 45vh;
    overflow: hidden;
    position: relative;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 300ms ease-in-out;
    }
    img:hover {
        transform: scale(1.2);
    }
}

.selection__img::after {
    content: attr(data-vin);
    position: absolute;
    top: 0;
    left: 0;
    background-color: $dark-color;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0 2px;
}

.selection__description {
    gap: 10px;
    .selection__description--name, .selection__description--price {
        font-weight: 500;
    }
    .selection__description--price {
        font-size: 1.8rem;
    }
    .selection__description--origin {
        font-size: 1.4rem;
    }    
}



/************* ESHOP SECTION BOX *************/

#section-box-eshop {
    height: 100vh;
    h2 {
        line-height: 1;
        top: 5%;
    }
}

#box__container {
    gap: 60px;
    height: 90%;
}

.box__img {
    width: 40%;
    img {
        object-fit: cover;
        height: 100%;
    }
}


#box__description {
    justify-content: center;
}

/************* ESHOP SECTION AVANTAGES *************/

.avantages__description {
    align-items: center;
    gap: 50px;
    .avantages__text {
        flex: 1;
    }
    .avantages__img {
        width: 10%;
    }
}



/************* PAGE PRODUIT SECTION PRODUCT *************/

#product-section {
    height: calc(100vh - (12vh + 8vh));
}

.breadcrumb {
    gap: 10px;
    li {
        font-size: 1.4rem;
    }
    li:last-of-type a {
        color: $tertiary-color;
    }
}

#product__container {
    gap: 50px;
    h1, .product__year, .product__price--price  {
        @include nimbusLight;
        font-size: 4.8rem;
        letter-spacing: 0;
        line-height: 1;
    }
}

#product__img {
    flex: 1;
    overflow: hidden;
    img {
        transition: all 300ms linear;
    }
    &:hover img {
        transform: scale(3);
    }
}

#product__description {
    flex: 2;
    gap: 20px;
}

#product__action {
    flex: 1;
    gap: 20px;
    align-items: center;
    .product__price--type {
        font-size: 1.4rem;
    }
}

.product_label {
    gap: 15px;
    span {
        background-color: $dark-color;
        color: #fff;
        width: max-content;
        padding: 5px;
    }
}


#product__submit {
    width: auto;
    #product__quantity {
        border: 1px solid $dark-color;
        display: block;
        width: 100%;
        height: 8vh;
        font-size: 2rem;
        padding-left: 20px;
    }
    #product__quantity:focus {
        outline: none;
    }
    input[type="submit"] {
        border: none;
        outline: none;
        padding: 15px 25px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.6rem;
    }
    input[type="submit"]:focus {
        background-color: $secondary-color;
    }
}


/************* PAGE PRODUIT SECTION DEGUSTATION *************/


#section-accords {
    gap: 60px;
    h4 {
        color: #fff;
    }
    figure {
        gap: 20px;
    }
    figcaption, h4 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 400;
    }
    p {
        font-weight: 300;
    }
}

.detail__container {
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}


/************* PAGE PRODUIT SECTION DOMAINE *************/

#domaine__detail, #domaine__img {
    flex: 1;
    justify-content: center;
}